<ion-view title="Quiz" cache-view="false">
    <ion-content padding="'true'" class="has-header" ng-controller = 'quizCtrl' on-swipe-left="goForward()">
        <!--list of words in the selected group-->
        <div style = "height: 150px;">
            <h3 class = "extraPadding">Do you know what </h3>
            <h2 class = "question">{{question}}</h2> 
            <h3 class = "extraPadding">means?</h3>     
        </div>
        <!--buttons for answer-->
        <div class="row extraMargin">
            <button class="button button-outline button-dark button-large col col-10 icon ion-close-round roundBorder" ng-click = 'shuffle()'></button>
            <button class="button button-outline button-energized button-large col col-10 col-offset-33 icon ion-checkmark-round roundBorder" ng-click = 'shuffle()'></button>
        </div>
        <!--answer-->
        <div style = "height: 50px;">   
            <h3 class = "extraPadding extraMargin topMargin">{{answerDisplayed}}</h3> 
        </div> 
        <h4 class = "titleLine">Choose group to test</h4>
        <!--list of possible groups-->
        <div class="row" ng-repeat="rows in chunkedData track by $index">
            <div class="col col-50" ng-repeat="item in rows track by $index">
                <label class="item item-radio card noMargin" >
                    <input type="radio" name="group" ng-model='choice.checked' value='{{item}}' ng-change='updateList()'/>
                    <div class="radio-content">
                      <div class="item-content">
                        {{item}}
                      </div>
                      <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
            </div>
        </div>  
    </ion-content>
</ion-view>